* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
/* ------------------NavBar------------------------ */
header {
  background-color: darkgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 3.5rem 1rem;
  background-color: rebeccapurple;
  position: sticky;
  top: 0rem;
}

.logim {
  padding-left: 3rem;
  width: 15%;
}

.bars {
  display: flex;
}
/* ---------------NavBAr media--------------- */
@media only screen and (max-width: 1198px) and (min-width: 1021px) {
  ul li a {
    font-size: 2rem;
    padding: 0 1rem;
    margin-right: 4rem;
  }
}
@media only screen and (max-width: 1020px) and (min-width: 994px) {
  ul li a {
    font-size: 2rem;
    padding: 0 1rem;
    margin-right: 1rem;
  }
  .bars {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 993px) {
  ul li a {
    font-size: 3rem;
    padding: 0 1rem;
    margin-left: 2rem;
  }
  .bars {
    position: absolute;
    top: 0px;
    height: 30vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -10px;
    align-items: flex-start;
    justify-content: center;
    clip-path: circle(83px at -31% -71%);
    -webkit-clip-path: circle(83px at -31% -71%);
    transition: all 0.5s ease-in-out;
    background: linear-gradient(to right top, #74a5ee, #a63dec);
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 0px 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .line {
    z-index: 11;
    width: 30px;
    height: 3px;
    margin: 2px 9px 2px 6px;
    background-color: white;
  }
  .hamburger.isEaten .line:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .hamburger.isEaten .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.5s ease-in-out;
  }
  .hamburger.isEaten .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
  .bars.open {
    clip-path: circle(1000px at 10% 89%);
    -webkit-clip-path: circle(1000px at 10% 89%);
    width: 100%;
    margin-left: -10px;
    transition: all 0.5s ease-in-out;

    background-color: transparent;
  }
}
/* -------------Icon ---------------------- */
@media screen and (max-width: 498px) {
  .logim {
    width: 23%;
    margin-left: -1.5rem;
  }
}
@media screen and (max-width: 334px) {
  .logim {
    width: 30%;
  }
}
@media screen and (max-width: 281px) {
  .logim {
    width: 33%;
    margin-left: -2rem;
  }
}
/* -------------------------HeroSection--------------------------- */
.mainCon {
  height: 89vh;
  background-image: linear-gradient(to bottom right, rebeccapurple, purple);

  padding: 2rem 5rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: x-large;
  padding: 0 5rem;
  color: white;
}
.secCon {
  text-align: center;
  display: flex;
  flex-direction: column;

  padding: 0rem 2rem 0rem 3.5rem;
}
.heroImg {
  width: 35%;
  margin: 2rem;
}
.thirdCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 9rem;
  display: flex;
}
.heroTxt {
  font-size: xxx-large;
  color: white;
  margin: 2rem;
}
.wel {
  margin-left: -4rem;
}
#btn1 {
  margin: 0 4rem;
  cursor: pointer;
  padding: 2rem 0rem;
  outline: none;
  border: 0;
  border-radius: 3rem;
  background-color: blueviolet;
}
a:hover {
  color: rgb(197, 156, 236);
  transition: all 0.3s ease-in-out;
}
/* --------------HeroSection media--------------------- */
@media screen and (max-width: 1033px) {
  #hera {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 941px) {
  #hera {
    font-size: 2rem;
  }
}
@media screen and (max-width: 868px) {
  #hera {
    font-size: 2rem;
  }
  .heroImg {
    width: 41%;
  }
  .thirdCon {
    padding: 4rem 0rem;
  }
}
@media screen and (max-width: 744px) {
  #hera {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 683px) {
  #btn1 {
    width: 82%;
    margin-left: 2.8rem;
  }
}
@media screen and (max-width: 637px) {
  .heroImg {
    display: none;
  }
  .wel {
    margin-top: 8rem;
  }
}
@media screen and (max-width: 408px) {
  .wel {
    margin-top: 3rem;
  }
  #btn1 {
    width: 103%;
    margin-left: -0.1rem;
  }
}
@media screen and (max-width: 323px) {
  #btn1 {
    width: 86%;
    margin-left: 1.4rem;
  }
  .wel {
    margin-top: -2rem;
    margin-left: -5rem;
  }
  #hera {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 282px) {
  .heroTxt {
    font-size: 3.5rem;
    color: white;
    margin: 8rem 2rem 2rem 2rem;
  }
  #hera {
    font-size: 1.1rem;
  }
}
/* ----------------Check Speed--------------------------- */
.mainDiv {
  height: 100vh;
  padding: 5rem;

  background-color: #f3f3f3;
}
.centerDiv {
  background-color: rgba(219, 218, 218);
  height: 80vh;
  width: 70%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2.5rem;

  background-color: #f3f3f3;
  box-shadow: -4px -4px 5px #ffffff, 4px 4px 15px #00000020;
}
.speedTxt {
  font-size: 4rem;
  color: #cb8c8c;
  text-align: center;
  margin: 2rem;
}
#msg {
  margin: 3rem;
  padding: 2rem 7rem;

  border-radius: 2rem;
}
#btn {
  margin: 0 4rem;
  cursor: pointer;
  padding: 1.4rem;
  outline: none;
  border: 0;

  border-radius: 1.8rem;
  margin-bottom: 1.2rem;
  background-color: #f3f3f3;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 15px #00000020;
}
textarea {
  border-radius: 2rem;
  padding: 2rem;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  box-shadow: inset -4px -4px 5px #ffffff, inset 4px 4px 15px #00000020;
}
/* --------------Check Speed Media------------------------------------- */
@media screen and (max-width: 1243px) {
  textarea {
    width: 80%;
  }
}
@media screen and (max-width: 987px) {
  textarea {
    width: 76%;
  }
  #msg {
    margin: 1rem;
  }
}
@media screen and (max-width: 911px) {
  #msg {
    margin: 0rem;
    padding: 1rem 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 672px) {
  #msg {
    font-size: 1.5rem;
  }
  .speedTxt {
    margin: 2rem 2rem 1rem 2rem;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 516px) {
  .centerDiv {
    width: 90%;
  }

  #msg {
    margin: 0rem;
    font-size: 1.2rem;
  }
  .speedTxt {
    margin: 2rem 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 457px) {
  #msg {
    margin: 0rem;
    font-size: 1.2rem;
  }

  .speedTxt {
    margin: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (max-width: 322px) {
  #msg {
    padding: 1rem 2.2rem 1.5rem 2.2rem;
  }
  .speedTxt {
    margin: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (max-width: 282px) {
  #msg {
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .speedTxt {
    margin: 1rem 1rem 1rem 1rem;
  }
  .centerDiv {
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 100%;
  }
}
/* ----------------------Curves------------- */
.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-color: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -16rem;
}
.layer1 {
  background-image: url("../public/laya6.svg");
}
/* -----------------FooterSection-------------------- */
.spacer2 {
  aspect-ratio: 960/100;
  width: 100%;
  background-color: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer2 {
  background-image: url("../public/baya.svg");
}
.footer {
  height: 60vh;
  background-color: #dcd0ed;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.f1 {
  display: flex;
}
.about {
  padding: 2rem;
  text-align: center;
  width: 50%;
}
.follow {
  padding: 2rem;
  text-align: center;
  width: 50%;
}
.f2 {
  margin-top: 2rem;

  text-align: center;
  color: #544a4a;
}
.aba {
  font-size: 1.5rem;
  text-align: start;
  color: #544a4a;
}
.fola {
  margin: 2rem;
  cursor: pointer;
  color: #544a4a;
}
.ab1 {
  font-size: 3rem;
  color: #544a4a;
  margin-bottom: 2rem;
}
.fol1 {
  font-size: 3rem;
  color: #544a4a;
  margin-bottom: 1rem;
}
.hola {
  padding: 0rem;
  margin: 0em;
}
/* --------------Footer Media----------------------- */
@media screen and (max-width: 1025px) {
  .footer {
    height: 37vh;
  }
  .mainCon {
    height: 39vh;
  }
  .mainDiv {
    height: 90vh;
  }
}
@media screen and (max-width: 919px) {
  .footer {
    height: 67vh;
  }
  .mainCon {
    height: 89vh;
  }
  .mainDiv {
    height: 100vh;
  }
}
@media screen and (max-width: 902px) {
  .footer {
    padding: 0rem 2rem 1rem 2rem;
    height: 60vh;
  }
}
@media screen and (max-width: 871px) {
  .footer {
    padding: 0rem 2rem 1rem 2rem;
    height: 67vh;
  }

  #f3 {
    font-size: large;
  }
}
@media screen and (max-width: 780px) {
  .footer {
    height: 70vh;
  }
  #f3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 769px) {
  .mainCon {
    height: 50vh;
  }
  .footer {
    height: 42vh;
  }
}
@media screen and (max-width: 767px) {
  .mainCon {
    height: 89vh;
  }
  .footer {
    height: 70vh;
  }
}
@media screen and (max-width: 657px) {
  .aba {
    font-size: 1.23rem;
  }
  .ab1 {
    font-size: 2.5rem;
  }
  .fol1 {
    font-size: 2.5rem;
  }
  #f3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 541px) {
  .footer {
    height: 58vh;
  }
}

@media screen and (max-width: 487px) {
  .fola {
    margin: 1rem;
  }
}
@media screen and (max-width: 465px) {
  .fola {
    margin: 1rem;
  }
  .follow {
    padding: 2rem 2rem 1rem 1rem;
  }
  .about {
    padding: 2rem 1rem 1rem 2rem;
  }
  .f1 {
    flex-direction: column;
  }
  .about {
    width: 100%;
  }
  .follow {
    width: 100%;
  }
  .fola {
    margin: 0rem 1rem;
    width: 14%;
  }
}
@media screen and (max-width: 446px) {
  .footer {
    height: 62vh;
  }
}
@media screen and (max-width: 376px) {
  .footer {
    height: 71vh;
  }

  .f1 {
    flex-direction: column;
  }
  .about {
    width: 100%;
  }
  .follow {
    width: 100%;
  }
  .fola {
    margin: 0rem 1rem;
    width: 14%;
  }
}
@media screen and (max-width: 361px) {
  .footer {
    height: 78vh;
  }
}

@media screen and (max-width: 322px) {
  .footer {
    height: 87vh;
  }
}
@media screen and (max-width: 295px) {
  .footer {
    padding: 0rem;
    height: 78vh;
  }
}
